# Keil编译产物
*.o
*.crf
*.axf
*.lst
*.map
*.htm
*.lnp
*.sct
*.build_log.htm
*.uvguix.*

# 编译目录
DebugConfig/
stm32_smart_pillbox/
Listings/
Objects/
RTE/

# Trae IDE
.trae/
skills-lock.json

# VS Code
.vscode/
